{% extends '::base.html.twig' %}
{# SETTINGS layout.html.twig #}

{% block body %}
<body>
<div id="simplecontent">
<strong>This feature is in development.  Below is an example of the information that may be available.</strong><br><br>
<strong>System Setup Parameters</strong>
<br>System #:
<br>System Name:
<br>Station Names:
<br>Station Phone Numbers
<br>Stacking
<br>Arrival Alerts
<br>Delivery Timeout
<br>Auto Return Timer
<br>Auto Purge Timer
<br>Manual Purge Timeout
<br>Passwords
</div>
<div id="footer">
<a style="text-align:left; font-size:11px; font-family: Verdana, Arial;" href="http://www.mstechsol.com" title="www.mstechsol.com">Powered by MS Technology Solutions LLC</a>
</div>
</body>
{% endblock %}