{% extends '::base.html.twig' %}
{# DIAGS layout.html.twig #}

{% block body %}
<body>
<div id="simplecontent">
<strong>This feature is in development.  Below is an example of the information that may be available.</strong><br><br>
<strong>System Diagnostics</strong>
<br>System #:
<br>Running Since:
<br>Summary Period:
<br>Transactions:
<br>Running Time / utilization:
<br>Alarms:
<br>Down Time:
<br>Blower Run Time:
<br>Diverter A Run Time:
<br>Diverter B Run Time:
<br>Optic M Voltage:
<br>Optic A Voltage:
<br>Optic B Voltage:
</div>
<div id="footer">
<a style="text-align:left; font-size:11px; font-family: Verdana, Arial;" href="http://www.mstechsol.com" title="www.mstechsol.com">Powered by MS Technology Solutions LLC</a>
</div>
</body>
{% endblock %}