{% extends '::base.html.twig' %}
{# CONTACT layout.html.twig #}

{% block body %}
<body>
<div id="simplecontent">
<p>For more information on Colombo Pneumatic Tube Systems or to order or specify any products, please contact:</p>
<p><strong>Colombo Pneumatic Tube Systems<br /></strong> 2321 Wolcott Street<br /> Ferndale, MI 48220<br /> (800) 547-2820 (phone)<br /> (248) 546-7567 (fax)<br /><a href="mailto:info@colombopts.com"> info@colombopts.com</a></p>
<p><strong>Emergency Service</strong></p>
<p>Colombo&#39;s trained and experienced technicians and customer service representatives work closely together to quickly respond to calls for emergency service. Our customer service representatives can be reached directly at (800) 547-2820, 7 AM to 5 PM Eastern Standard Time. We will return your after-hours and weekend calls promptly.</p>
</div>
<div id="footer">
<a style="text-align:left; font-size:11px; font-family: Verdana, Arial;" href="http://www.mstechsol.com" title="www.mstechsol.com">Powered by MS Technology Solutions LLC</a>
</div>
</body>
{% endblock %}