{% extends '::base.html.twig' %}
{# ABOUT layout.html.twig #}

{% block body %}
<body>
<div id="simplecontent">
<p><img style="float: left; margin-left: 0px; margin-right: 10px;" src="{{ asset('bundles/mstspts/images/Colombo-Sign.jpg') }}" alt="" width="250" height="185" />Colombo has a long history and a proven track record of engineering, manufacturing and installing pneumatic tube systems.  Colombo began installing systems throughout the Midwest in 1970. Early on, the leadership team identified a need for custom solutions to meet each customer&#39;s specific needs.  In 1982, Colombo began investing its knowledge and experience in the pneumatic tube industry into designing, engineering and manufacturing its own line of specialized systems and products for specific market applications.</p>
<p>Concurrently, Colombo began focusing on a specimen transfer system for Lab and Critical Care areas within a hospital.  Most of the systems in place were multi-zone, which creates a backup of queued-up carriers and an overload of system traffic, causing long delivery times. Identifying a need for consistent, repeatable delivery times within the healthcare industry and recognizing the inefficiencies of utilizing a lab tech or caregiver to run samples to the lab, Colombo developed the Direct Delivery System with special features for Lab and Pharmacy users.</p>
<p>Colombo&#39;s new system vastly improved turnaround times for transferring materials such as lab specimens, blood products and medication, while improving patient care and reducing cost at the same time.  This new approach of dedicated direct delivery systems for Lab and Pharmacy separated clean and biohazardous materials, which solved an ongoing infection-control problem in hospital-wide, multi-zone systems.</p>
<p>As medical needs became more complex, Colombo began expanding its system offerings to provide customized solutions and system features to meet the unique needs of each healthcare institution.  Security, accountability and user control became a priority.  To satisfy this requirement, Colombo created an Ethernet-based electronics platform capable of communicating with card readers, barcode readers, and other standard peripherals used in healthcare. Colombo&#39;s systems can be connected to the hospital network, providing real-time information to the users.  Secured transactions for controlled substances and other sensitive materials are available.</p>
<p><strong>Why Choose Colombo?</strong></p>
<ul>
<li>40-year history and track record in the industry</li>
<li>The most complete product line of pneumatic tube systems</li>
<li>Consultation, design and layout of new systems</li>
<li>Full line of services, which include manufacturing, installation, training and maintenance services</li>
<li>Superior customer service, which includes preventative maintenance, emergency service, technical phone support, replacement parts and carriers for all types of systems</li>
</ul>
{# <div id="footer"> #}
<br><br>
<a style="text-align:left; font-size:11px; font-family: Verdana, Arial;" href="http://www.mstechsol.com" title="www.mstechsol.com">Powered by MS Technology Solutions LLC</a>
</div>

{# </div> #}
</body>
{% endblock %}