{% extends '::base.html.twig' %}
{# HOME layout.html.twig #}

{% block body %}
<body>
<div id="simplecontent">
<p><img style="float: left; margin-left: 0px; margin-right: 10px;" src="{{ asset('bundles/mstspts/images/Colombo-Sign.jpg') }}" alt="" width="250" height="185" />
Welcome to the Colombo Pneumatic Tube Management System</p>
<p>From this site you have the ability to:</p>
<ul>
<li>Review transaction history</li>
<li>Setup users and permissions</li>
<li>Analyze and diagnose system performance</li>
<li>Learn more about Colombo Pneumatic Tube Systems</li>
<br>If you have any questions or comments please contact us!
</ul>
{# <div id="footer"> #}
<br><br>
<a style="text-align:left; font-size:11px; font-family: Verdana, Arial;" href="http://www.mstechsol.com" title="www.mstechsol.com">Powered by MS Technology Solutions LLC</a>
</div>

{# </div> #}
</body>
{% endblock %}